*{
    background-color: rgb(0, 0, 0);
    
}
.container1{
    background-color: blue;
}

.nav{
    text-decoration: none;
    display: flex;
   line-height: 0px;
    width:100%;
    
    
    
}
h1{
    color:goldenrod;
    text-align: center;
    margin-top: 7%;
}
.logo1 img{
    height:40px;
}
li{
    margin: 1.2% 10px;
    margin-left:45px;
   
   
   
}
li a{
    text-decoration: none;
    padding:8px;
    border-radius: 7px;
    color: goldenrod;
    
}


/*.btn{
    height: 50px;
    padding:20px;
    margin-right:15px;
    text-align: center;
    width: 99px;
    border-radius: 25px;
    border-color: rgb(133, 54, 124);
    color:rgb(134, 10, 10);
   

}
*/
li a:hover{
 
    background-color: rgb(240, 236, 236);
    animation-name: initial;
    cursor:pointer;
   
    
    
}
.image1 img{
 height:650px;
 width:100%;
}


.image2 img {

/* height: 450px;
width:31%;
margin-top: 0%;
margin-left:1px;
margin-right: 3px;
background-color: rgba(248, 247, 216, 0.7);
border-top: 5px solid;
border-bottom: 5px solid;
border-left:5px solid;
border-right:5px solid;
border-radius: 2px;
border-color: rgb(127, 83, 51); */
display:block;
width: 33px;
border-radius:5px;


}
.image2:hover{
    cursor:pointer;
}
.container4{
    width:90%;
    padding:20px;
    margin:100px auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.box{
    width:250px;
    margin:0 10px;
    box-shadow: 0 0 20px 2px rgba(0,0,0, .1);
    transition:1s;

}

.box img{
    display:block;
    width:100%;
    border-radius: 5px;
    margin-right: 10px;
    margin-top:0px;



}
.box:hover{
    transform:scale(1.3);
    z-index:2;
    cursor:pointer;

}
footer p{
    color:white;
    margin-left:50%;
}
footer p a{
    color:white;
    display:block;
    border-radius:5px;
    text-decoration: none;
}
footer p a:hover{
    color:brown;
}

